<p id="notice"><%= notice %></p>

<h1>Sprouts</h1>

<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Department</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sprouts.each do |sprout| %>
      <tr>
        <td><%= sprout.store %></td>
        <td><%= sprout.department %></td>
        <td><%= sprout.employee %></td>
        <td><%= link_to 'Show', sprout %></td>
        <td><%= link_to 'Edit', edit_sprout_path(sprout) %></td>
        <td><%= link_to 'Destroy', sprout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sprout', new_sprout_path %>
